
.container {
    display: block;
    margin-left: 210px;
  
    & > div:last-child {
      margin-bottom: 40px;
    }
}

.top {
  margin-top:20px;
  display: grid;
  grid-template-columns: 488px;
  grid-template-rows: 650px;
  grid-template-areas:
    'user-data-input';
  grid-gap: 16px;

  .user-data-input {
    grid-area: user-data-input;
  }

}

.middle {
    margin-top: 27px;
    display: grid;
    grid-template-columns: 992px;
    grid-template-rows: 670px;
    grid-gap: 16px;
    grid-template-areas:
      'shop-map';
   
    .shop-map {
        grid-area: shop-map;
    }
}
  
.board-card {
    border-radius: 2px;
}
  