@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  &:not(input) {
    user-select: none;
  }
}

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: linear-gradient(top left,rgb(253, 104, 91) -0.2%,rgb(87, 38, 166) 100%);
}

:global(#root) {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
